{% extends 'base.html' %}

{% block title %}InboxHero - Email Analysis{% endblock %}

{% block head %}
    {% if id %}
        <style>
            html,
            body {
                height: 100%;
            }

            .emails-loading {
                display: flex;
                align-items: center;
                padding-top: 40px;
                padding-bottom: 40px;
                text-align: center;
                height: 80%;
            }
        </style>
    {% endif %}
{% endblock %}

{% block body %}
    {% if id %}
        {#            <h1 class="display-6">{{ id }}</h1>#}
        <div class="emails-loading">
            <div style="width: 100%; max-width: 500px; padding: 15px; margin: auto;">
                <div class="spinner-border mb-4" style="width: 7rem; height: 7rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h1 class="display-6">Loading <b>{{ emails_count }}</b> emails...</h1>
            </div>
        </div>
    {% endif %}
    {% if loaded_emails %}
        <div class="container-sm">
            {% if loaded_emails.total_messages %}
                <h1 class="display-4">{{ loaded_emails.total_messages }} emails loaded</h1>
            {% endif %}
            {% if loaded_emails.unread_emails_count %}
                <h1 class="display-6">{{ loaded_emails.unread_emails_count }} unread</h1>
            {% endif %}
            {% if loaded_emails.unread_emails_percent %}
                <h1 class="display-6">{{ loaded_emails.unread_emails_percent }}% unread</h1>
            {% endif %}
            {% if loaded_emails.spam_emails_count %}
                <h1 class="display-6">{{ loaded_emails.spam_emails_count }} spam</h1>
            {% endif %}
            <div class="row mt-4">
                <div class="col-3">
                    <div class="p-4 mb-4 bg-light rounded-3">
                        <button class="btn btn-primary">Mark All Read</button>
                    </div>
                </div>
                <div class="col-3">
                    <div class="p-4 mb-4 bg-light rounded-3">
                        <button class="btn btn-primary">Clear Trash</button>
                    </div>
                </div>
                <div class="col-3">
                    <div class="p-4 mb-4 bg-light rounded-3">
                        <button class="btn btn-primary">Delete All Spam</button>
                    </div>
                </div>
                <div class="col-3">
                    <div class="p-4 mb-4 bg-light rounded-3">
                        <button class="btn btn-primary"></button>
                    </div>
                </div>
                <div class="col-3">
                    <div class="p-4 mb-4 bg-light rounded-3">
                        <button class="btn btn-primary"></button>
                    </div>
                </div>
            </div>

            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <ul class="nav nav-tabs" id="emails-tab-list" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="overview-tab" data-bs-toggle="tab"
                                    data-bs-target="#overview"
                                    type="button" role="tab" aria-controls="overview" aria-selected="true">Overview
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="unread-tab" data-bs-toggle="tab" data-bs-target="#unread"
                                    type="button" role="tab" aria-controls="unread" aria-selected="false">Unread
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="all-emails-tab" data-bs-toggle="tab"
                                    data-bs-target="#all-emails"
                                    type="button" role="tab" aria-controls="all-emails" aria-selected="false">All Emails
                            </button>
                        </li>
                    </ul>
                    {% if loaded_emails %}
                        <table class="table py-3">
                            <thead>
                            <th scope="col">#</th>
                            <th scope="col">From</th>
                            <th scope="col">Domain</th>
                            <th scope="col"></th>
                            </thead>
                            {% for index, row in loaded_emails.parsed_messages.iterrows %}
                                <tr>
                                    <th scope="row">{{ index }}</th>
                                    <td>{{ row.from }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    {% if id %}
        <script type="application/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                setInterval(checkTaskStatus, 2500)
            })

            async function checkTaskStatus() {
                let response = await fetch('{% url 'task-model-status' id %}')
                if (response.status === 200) {
                    let data = await response.json()
                    console.log(data)
                    if (data['result'] === true) {
                        location.reload()
                    }
                }
            }
        </script>
    {% endif %}
{% endblock %}