{% extends 'base.html' %}
{% load static %}

{% block title %}InboxHero - Emails{% endblock %}

{% block head %}
    {% if id %}
        <style>
            html,
            body {
                height: 100%;
            }

            .emails-loading {
                display: flex;
                align-items: center;
                padding-top: 40px;
                padding-bottom: 40px;
                text-align: center;
                height: 80%;
            }
        </style>
    {% endif %}
{% endblock %}

{% block body %}
    {% if id %}
        <div class="emails-loading">
            <div style="width: 100%; max-width: 500px; padding: 15px; margin: auto;">
                <div class="spinner-border mb-4" style="width: 7rem; height: 7rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h1 class="display-6">Loading <b>{{ emails_count }}</b> emails...</h1>
            </div>
        </div>
    {% endif %}
    {% if loaded_emails %}
        <div class="container-lg">
            <div class="d-flex justify-content-end">
                <p class="text-muted">Retrieved {{ retrieved_time }}</p>
            </div>
            <div>
                {% if loaded_emails.total_messages %}
                    <h1 class="display-4">{{ loaded_emails.total_messages }} emails loaded</h1>
                {% endif %}
                {% if loaded_emails.unread_emails_count %}
                    <h1 class="display-6">{{ loaded_emails.unread_emails_count }} unread</h1>
                {% endif %}
                {% if loaded_emails.unread_emails_percent %}
                    <h1 class="display-6">{{ loaded_emails.unread_emails_percent }}% unread</h1>
                {% endif %}
                {% if loaded_emails.spam_emails_count %}
                    <h1 class="display-6">{{ loaded_emails.spam_emails_count }} spam</h1>
                {% endif %}
            </div>
            {#            <div class="row mt-4">#}
            {#                <div class="col-3">#}
            {#                    <div class="p-4 mb-4 bg-light rounded-3">#}
            {#                        <button class="btn btn-primary">Mark All Read</button>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-3">#}
            {#                    <div class="p-4 mb-4 bg-light rounded-3">#}
            {#                        <button class="btn btn-primary">Clear Trash</button>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-3">#}
            {#                    <div class="p-4 mb-4 bg-light rounded-3">#}
            {#                        <button class="btn btn-primary">Delete All Spam</button>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-3">#}
            {#                    <div class="p-4 mb-4 bg-light rounded-3">#}
            {#                        <button class="btn btn-primary"></button>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-3">#}
            {#                    <div class="p-4 mb-4 bg-light rounded-3">#}
            {#                        <button class="btn btn-primary"></button>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}

            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <ul class="nav nav-tabs mb-3" id="emails-tab-list" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="analysis-tab" data-bs-toggle="tab"
                                    data-bs-target="#analysis"
                                    type="button" role="tab" aria-controls="analysis" aria-selected="true">Analysis
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="unread-tab" data-bs-toggle="tab"
                                    data-bs-target="#unread"
                                    type="button" role="tab" aria-controls="unread" aria-selected="false">Critical
                                Unread
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="all-emails-tab" data-bs-toggle="tab"
                                    data-bs-target="#unsubscribe"
                                    type="button" role="tab" aria-controls="unsubscribe" aria-selected="false">Easy
                                Unsubscribe
                            </button>
                        </li>
                    </ul>
                    {% if loaded_emails %}
                        <div class="tab-content" id="email-tab-content">
                            <div class="tab-pane" id="analysis" role="tabpanel" aria-label="analysis-tab">
                                <h1>Analysis placeholder</h1>
                            </div>
                            <div class="tab-pane show active" id="unread" role="tabpanel" aria-label="unread-tab">
                                <div class="d-flex my-4 justify-content-end">
                                    <button type="button" class="btn btn-outline-secondary btn-lg mx-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-envelope-open"
                                             viewBox="0 0 16 16">
                                            <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882l-6-3.2ZM15 7.383l-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2Z"/>
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger btn-lg mx-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd"
                                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </button>
                                </div>
                                <table id="unread-table" class="table table-sm table-light align-middle">
                                    <thead>
                                    <tr>
                                        <td aria-label="Select all">
                                            <input type="checkbox" class="form-check-input" data-id="unread-table"
                                                   onclick="checkAllCheckboxes(this)"
                                                   aria-label="Select all emails in the table">
                                        </td>
                                        <th scope="col">Sender</th>
                                        <th scope="col">Read</th>
                                        <th scope="col">Unread</th>
                                        <th scope="col">Unread %</th>
                                        <th scope="col">Last Received</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for index, row in loaded_emails.critical_unread_messages.iterrows %}
                                        <tr id="unread-{{ index }}" data-sender="{{ index }}">
                                            <td><input type="checkbox" class="form-check-input"
                                                       data-id="unread-{{ index }}" onclick="highlightRow(this)"
                                                       aria-label="Select emails from {{ index }}">
                                            </td>
                                            <th scope="row">{{ index }}</th>
                                            <td>{{ row.read }}</td>
                                            <td>{{ row.unread }}</td>
                                            <td>{{ row.Unread_pct|stringformat:"d%%" }}</td>
                                            <td>{{ row.date_received }}</td>
                                            <td>
                                                <button class="btn btn-outline-secondary btn-sm"
                                                        data-id="unread-{{ index }}"
                                                        data-sender="{{ index }}" data-unread="{{ row.unread }}"
                                                        onclick="callModalOrMarkAsRead(this)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-envelope-open"
                                                         viewBox="0 0 16 16">
                                                        <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882l-6-3.2ZM15 7.383l-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2Z"/>
                                                    </svg>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-outline-danger btn-sm">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd"
                                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                    </svg>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% include 'components/mark-read-modal.html' %}
                            </div>
                            <div class="tab-pane" id="unsubscribe" role="tabpanel" aria-label="unsubscribe-tab">
                                <h1>Unsubscribe placeholder</h1>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/emails.js' %}"></script>
    {% if id %}
        <script type="application/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                setInterval(checkTaskStatus, 2500)
            })

            async function checkTaskStatus() {
                let response = await fetch('{% url 'task-model-status' id %}')
                if (response.status === 200) {
                    let data = await response.json()
                    console.log(data)
                    if (data['result'] === true) {
                        location.reload()
                    }
                }
            }
        </script>
    {% endif %}
{% endblock %}